dist: bionic

sudo: required

language: python

python:
- '3.6'
- '3.7'

stages:
- lint
- test
- deploy

install:
- pip install -e .[dev]
- pip install codecov


after_failure:
- pip freeze

script:
- coverage run ./manage.py test

after_success:
  - codecov

jobs:
  include:
  - stage: lint
    install:
    - pip install flake8
    before_script: skip
    script:
    - flake8 mapbox_baselayer
    after_script: skip
    after_success: skip

  - stage: deploy
    install: skip
    before_script: skip
    script: skip
    after_script: skip

    deploy:
      stage: deploy
      provider: pypi
      user: __token__
      password:
        secure: "RNuxYooW+2j1ojEK7ZVqNdvIV6mmZ3+262M/yggpC3VmHOOND9dA93w4yFGmlWH37qIq8Ae/YUgGUWhUh0u6dYr6trXYfCcqoSBOWxVd+91XDEXHg+XXHrDVaZpWmPpF9o6Y90DlTdJO6koHzCibk11NC+TK4qSlWIKWg1aP+InWNJaaJBLsyzsoDcboOj340KwdgJqenZU6rNkvIvpzHYoaHDTc5mg5af2Rw3AxrDKQy+i5Zds0Eaa/eX2Z2+Zt0KI0A5iS3xiCToz4Wi66klpF1lOZbn2dCL11YL6LS/wfcBxFG49BjrvPMDTcNBDLHC268GIZ0ZgIo6msVY6+IPsjvLLi0bQCt/zVJ/BzezoM6hjbmDuhO5qugKFFmfX/1YujRIieF9JDCIMfbZAq7AyeQwDzYPJTcW4kmPbSfGzpoN+2Xkm78euQdHQ24ldR9StUw2b8I3Sc53GaUtbj7YKporkXxIyYKiaHy/w54mm4SfwlsG3sxBkjHf4CsloycSF0/wufJj+BrSzSi60W9pDi5NSgx3iSRqUVJuovWWK2R+jv49j8H/KaErEZHjNnkrTY4cq81tU9DEOuzE92TcZ2oZGCMIKJ5B60JiiKv6ajNAq4czt+mxkj3zIOOxPzom7kLpgNIPbgaZTIc4pG68U50mTHAJpIXccXVwTXpmY="
      on:
        tags: true
